
/* ---------- Font ---------- */
@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: IRANSansXFaNum, system-ui, sans-serif !important;
}
